$bk : rgb(30, 30, 30);
$bk_1 : rgb(50, 50, 50);
$bk_2 : rgb(100, 100, 100);
$text : rgb(250, 250, 250);
$text_1 : rgb(235 ,235 ,235);
// $black-2 : rgb(97, 97, 97);
// $white : rgb(255, 255, 255);
// $white-1 : rgb(230, 230, 230);
$A-1 : #7ebd44;
// $A-2 : #76c031;
// $B-1 : rgb(168, 119, 59);
// $C-1 : rgb(90, 43, 112);

// :root{
//   --scale: 800px;
// }
